In [4]:
num = [1,2,3,4,5,6,7,8,9] #list with int values 
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(type(num)) #to determine list type

<class 'list'>

In [8]:
print(num[1]) #to determine the index of a value - Positive index start from 0 to n

2

In [10]:
print(num[-3]) #to determine the -ve index which starts from  -1

7

In [30]:
alpha = ['apple','orange','cherry','cranberry','olive','mashroom']
print(alpha)
print(type(alpha))
print(alpha[5])
print(alpha[1:4]) # Slicing: a method to know the range of values in the list, end value is determined as n-1 (4 is the index of olive,since 4-1 is Cranberry orange to cranberry is the range
alpha[3]='mango'
print(alpha)
alpha.append('avocado')
print(alpha)
alpha.remove('cherry')
print(alpha)

['apple', 'orange', 'cherry', 'cranberry', 'olive', 'mashroom']
<class 'list'>
mashroom
['orange', 'cherry', 'cranberry']
['apple', 'orange', 'cherry', 'mango', 'olive', 'mashroom']
['apple', 'orange', 'cherry', 'mango', 'olive', 'mashroom', 'avocado']
['apple', 'orange', 'mango', 'olive', 'mashroom', 'avocado']

In [27]:
alphanum = ['Archana', 15,11,'Hasitha',19,6,'Alankrita',27,3]
print(alphanum[2:]) # to find value from a given range to end
print(alphanum[:-1])
print(len(alphanum))
print(alphanum[0:3])
print(alphanum[-4:-1])

[11, 'Hasitha', 19, 6, 'Alankrita', 27, 3]
['Archana', 15, 11, 'Hasitha', 19, 6, 'Alankrita', 27]
9
['Archana', 15, 11]
[6, 'Alankrita', 27]

In [2]:
teks = ['data science', 'full stack python', 'devops', 'full stack java', 'aws', 'salesforce']
print(teks)

['data science', 'full stack python', 'devops', 'full stack java', 'aws', 'salesforce']

In [3]:
print(type(teks))

<class 'list'>

In [8]:
print(teks[1])
print(teks[-2])
print(teks[2])

full stack python
aws
devops

In [10]:
print(teks[1:10])

['full stack python', 'devops', 'full stack java', 'aws', 'salesforce']

In [20]:
#extend - add new values at the end of the list
list1 = [1,2,3,4,5,6,7,8,9]
#list2 = [20,30,40,50] ,#list1.extend(list2)
list1.extend([10,11,12,13,14,15])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [34]:
# and insert - inserts the value before the given index, insert method arguments are (index of the value tobe replaced, the value to be replaced)
# pop()- with zero params simply pop the last element
insertEx = ['A','R','C','H','N','A']
insertEx.insert(6,'D')
print(insertEx)
insertEx.pop()
print(insertEx)

['A', 'R', 'C', 'H', 'N', 'A', 'D']
['A', 'R', 'C', 'H', 'N', 'A']

In [40]:
#index(), count(),sort(),reverse()
listEx = [1,3,5,7,9,2,4,6,8,9,7,5,3]
print(listEx.index(9)) # gives the index of the first occured value if there are duplicate values
print(listEx.count(9)) # counts the number of occurances of that value

listEx2 = ['b','a','f','z','e']
list3 = [3,2,4,5,6]
listEx2.sort()
list3.sort()
print(listEx2)
print(list3)

4
2
['a', 'b', 'e', 'f', 'z']
[2, 3, 4, 5, 6]